body{
	background-image: url("./images/boomboxes.webp");
}
/* INTRO SCREEN - DECORATIONS*/
#container{
	border: 2px solid black;
	background-color: gainsboro;
	width: 700px;
	height: 400px;
	position: absolute;
	top: 90px;
	left: 0; 
  	right: 0; 
  	margin : 0 auto;
}
#container h1{
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

#top-rectangle{
	width : 700px;
	height : 20px;
	background-color: rgb(71, 68, 68);
	position: absolute;
	top: 20px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	
	}

#line{
	position: absolute;
	border-top: 1px solid black;
	width: 700px;
	top: 55px;
	left: 0px;
}

#vertical-line-one{
	border-right: 1px solid black;
	width: 1px;
	height: 55px;
	position: absolute;
	top: 0;
	left: 100px;
}

#square-left{
	height: 45px;
	width: 90px;
	border: 1px solid black;
	background-image: url(/images/marvelcharacter.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	right: 5px;
	top: 4px;
}

#red-voyant{
	height: 10px;
	width: 10px;
	border-radius: 50%;
	position: absolute;
	right: 35px;
	top: 15px;
}

#vertical-line-two{
	border-right: 1px solid black;
	width: 1px;
	height: 55px;
	position: absolute;
	top: 0;
	right: 100px;
}

#square-right{
	height: 45px;
	width: 90px;
	border: 1px solid black;
	background-color: rgb(53, 53, 53);

	position: absolute;
	left: 5px;
	top: 4px;
}

#leftSpeaker{
	width: 133px;
	height: 133px;
	border: 2px solid black;
    background-color: darkgray;
	border-radius: 50%;
	left: 20px;
	position: absolute;
	top: 155px;

}
#smallleftspeaker{
	width: 106px;
	height: 106px;
	border: 1px solid black;
    background-color:rgba(0, 0, 0, 0.769);
	border-radius: 50%;
	left: 34px;
	position: absolute;
	top: 170px;
		
}	

#smallestleftspeaker{
	width: 32px;
	height: 32px;
	border: 1px solid black;
	border-radius: 50%;
	background-color: black;
	top: 205px;
	position: absolute;
	left: 69px;
	animation: bumpL .7s infinite;
	-webkit-animation: bumpL .7s infinite;
	-moz-animation: bumpL .7s infinite;
	-ms-animation: bumpL .7s infinite;


}
@-webkit-keyframes bumpL {
    from {width: 32px;}
    to {width: 38px;}
    from{height: 32px;}
    to{height: 38px;}
    
}
@keyframes bumpL {
    from {width: 32px;}
    to {width: 38px;}
    from{height: 32px;}
    to{height: 38px;}
    
}

#rightSpeaker{
	width: 133px;
	height: 133px;
    border: 2px solid black;
    background-color: darkgray;
	border-radius: 50%;
	left: 545px;
	position: absolute;
	top: 155px;
}
#smallrightspeaker{
	width: 106px;
	height: 106px;
	border: 1px solid black;
    background-color:rgba(0, 0, 0, 0.769);
	border-radius: 50%;
	left: 560px;
	position: absolute;
	top: 170px;
}

#smallestrightspeaker{
	width: 32px;
	height: 32px;
	border: 1px solid black;
	border-radius: 50%;
	background-color: black;
	top: 205px;
	position: absolute;
	left: 594px;
	animation: bumpR .7s infinite;
	-webkit-animation: bumpR .7s infinite;
	-moz-animation: bumpR .7s infinite;
	-ms-animation: bumpR .7s infinite;

    
}
@-webkit-keyframes bumpR {
    from {width: 32px;}
    to {width: 38px;}
    from{height: 32px;}
    to{height: 38px;}
    
}
@keyframes bumpR {
    from {width: 32px;}
    to {width: 38px;}
    from{height: 32px;}
    to{height: 38px;}
}

#volume-container{
	position: absolute;
	top: 90px;
	right: 153px;
	width: 160px;
	height: 35px;
	display: flex;
	justify-content: space-evenly;
}

#volume-container div{
	height: 35px;
	border: 2px solid black;
	width: 35px;
	background-color: rgb(35, 33, 33);
	border-radius: 50%;
}

#first-line-volume{
	width: 17px;
	border: 1px solid white;
	background-color: white;
	position: absolute;
	right: 268px;
	top: 102px;
	transform: rotate(143deg);
}

#middle-line-volume{
	width: 17px;
	border: 1px solid white;
	background-color: white;
	position: absolute;
	right: 230px;
	top: 114px;
	transform: rotate(131deg);
}

#last-line-volume{
	width: 17px;
	border: 1px solid white;
	background-color: white;
	position: absolute;
	right: 180px;
	top: 101px;
	transform: rotate(60deg);
}

#rectangle-grip{
	border: 2px solid black;
	background-color: rgb(40, 40, 40);
	width: 210px;
	height: 43px;
	position: absolute;
	left: 170px;
	top: 87px;	
}

#regulator-container{
	width: 200px;
	height: 35px;
	position: absolute;
	left: 175px;
	top: 91px;
	display: flex;
	justify-content: space-around;
}

#regdot-container{
	width: 182px;
	height: 35px;
	position: absolute;
	left: 184px;
	top: 104px;
	display: flex;
	justify-content: space-around;
}

#regdot-container div{
	height: 4px;
	width: 4px;
	border-radius: 50%;
	border: 2px solid black;
	background-color: rgb(187, 192, 192);
}

#regulator-container div{
	height: 34px;
	border: 1px solid black;
	background-color: black;
}

#horizontal-line{
	position: absolute;
	width: 202px;
	border: 2px solid black;
	left: 173px;
	top: 116px;
}

#regulator{
	position: absolute;
	width: 48px;
	height: 33px;
	background-color: white;
	border: 2px solid black;
	left: 250px;
	top: 91px;
}

#large-rectangle{
width : 700px;
height : 240px;
background-color: rgb(71, 68, 68);
position: absolute;
top: 110px;
border-top: 2px solid black;
border-bottom: 2px solid black;

}


#handle{
	border-right: 8px solid black;
	border-left: 8px solid black;
	border-top: 10px solid black;
	position: absolute;
	height: 32px;
	width: 400px;
	top: 50px;
	left: 433px;
}

/* GAMEPLAY */

#biggerbox{
    width : 360px;
    height: 200px;
    position: absolute;
    border: 3px solid black;
    top : 142px;
    left: 170px;
	display: flex;
	align-items: flex-end;
}


#middlebox{
	width: 250px;
	height: 120px;
	position: absolute;
	border: 1px solid black;
	top: 170px;
	left: 228px;
}

#middlebox p{
	font-size: 11px;
	font-family: 'Rokkit', serif;
	font-weight: 300;
	padding: 0 8px 0 8px;
}

.btn{
	width: 150px;
	height: 20px;
	border-radius: 0;
	background-color: white;
	margin: 0 auto;
	margin-bottom:12px;
}


/* GAMING SCREEN LV1 LV2*/

.intro{
	visibility: visible; /*needs to be hidden when game start*/
}

.intro-text{
	visibility: visible; /*needs to be hidden when game start*/
}

.gaming-screen{
	visibility: hidden;
}

#biggerbox{
	background-color: gray;
}

#middlebox{
	border: 2px solid black;
	background-color: white ;
}

#answers-container{
	height: 116px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#answers-container div{
	height: 18px;
	padding: 5px;
	width: 200px;
	border: 2px solid black;
	border-radius: 15px;


}
#answer-a{
	position: absolute;
	top: 5px;
	left: 18px;
}

#answer-b{
	position: absolute;
	top: 44px;
}

#answer-c{
	position: absolute;
	bottom: 5px;
}

#rank-container{
	position: absolute;
	top: 30px;
	left: 50px;
	font-size: 17px;
	font-weight: bold;
	color: white;
}


#gauge-container{
	padding: 25px;
	height: 350px;
	width: 170px;
	position: absolute;
	background-color: black;
	left: 50px;
	top: 95px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#large-g{
	border: 2px solid white;
	border-radius: 3px 5px 7px 0;
	width: 150px;
	height: 8px;
}

#medium-g{
	border: 2px solid white;
	border-radius: 3px 5px 7px 0;
	width: 100px;
	height: 8px;
}

#small-g{
	border: 2px solid white;
	border-radius: 3px 5px 7px 0;
	width: 70px;
	height: 8px;
}

.lvl-1,
.lvl-2,
.lvl-3,
.lvl-4,
.lvl-5{
	background-color: yellow;
}

.lvl-6,
.lvl-7,
.lvl-8,
.lvl-9,
.lvl-10{
	background-color: orange;
}

.lvl-11,
.lvl-12,
.lvl-13,
.lvl-14,
.lvl-15{
	background-color: red;
}

#current-level{
	display: flex;
	justify-content: center;}

#current-level p{
	position: absolute;
	bottom: 50px
}

/* GAMING SCREEN LVL 3*/

.lvl-three{
	visibility: hidden; /* needs to be visible when stages 11*/
}
#answers-container div{
	visibility: hidden; /* needs to be hidden when stages 11 */
}

#answers-container input{
	position: absolute;
	top:40px;
	width: 200px;
	height: 40px;
	text-align: center;
}

/* GAME OVER SCREEN AND WINNING SCREEN */

/* 1. WINNING SCREEN */

#winning-screen{
	visibility: hidden; /*needs to be hidden if player hasn't completed the 15th stage*/
}

.congrats{
	position: absolute;
	top: 40px;
	font-size: 13px;
	padding: 12px;
}

/* .game-over h1 needs to change title to congrats*/
/* .replay-btn needs to change from try again to restart*/

/* winning screen work with game-over, same template*/

/*2. GAME OVER SCREEN*/
.game-over{
	visibility: hidden; /* needs to visible if three attemps are consumed and the player guessed wrong */
}

.stats-container{
	visibility: hidden; /*needs to be visible if game over*/
}

#middlebox{
	visibility: visible; /*needs to be hidden if game over screen is shown*/
}

.btn{
	visibility: visible; /*needs to be hidden if game over screen is shown*/
}

#current-level{
	visibility: visible; /*needs to be hidden if game over screen is shown*/
}

.game-over{
	position: absolute;
	padding-top: 9px;
	width: 358px;
	background-color: black;
	color: white;
	text-align: center;
	height: 189px;
	border: 1px solid greenyellow;
}


.replay-btn{
	margin-top: 15px;
	width: 200px;
	height: 40px;
	font-weight: bold;
}

